<div class="front">
<%= image_tag "logo", height: '300' %>


<h3>Please log in:</h3>
<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<% end %>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= label_tag 'Name:' %>
  <%= text_field_tag 'name' %><br>
  <%= submit_tag 'Login', class: "login" %>
<% end %><br>

<%= button_to 'Create a new user', new_user_path, method: :get %>

</div>