<div class="front">
<%= image_tag "logo", height: '300' %>


<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<% end %>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= label_tag 'Name' %><br>
  <%= text_field_tag 'name' %><br>
  <%= image_submit_tag 'login', height: 70, class: "login" %>
<% end %>

<%= link_to image_tag('create_user', height: 70), new_user_path, method: :get %>

</div>

<!-- 
  if user tried to log in but they don't exist yet, sessions#create displays error.
  new user is redirected here to create a profile
  ...or user comes stright here by clicking 'create user' on the homepage
 -->
