<h1>Schedule the next meeting for <%= @club.name %></h1>

<%= form_for [:club, @meeting] do |f| %>
  <%= f.label :book %><br>
  <%= f.collection_select :book_id, @books, :id, :title %><br>
  <%= f.label 'Date and time' %><br>
  <%= f.datetime_field :date_time %><br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <%= f.submit %>
<% end %>
