<h1><%= current_user.name %></h1>

<!-- meetings section -->
<div class="meeting">
  <h3>Upcoming meetings:</h3>

  <% if current_user.next_meetings.empty? %>
    <p>You have no upcoming book club meetings.</p>
  <% else %>

      <% current_user.next_meetings.each do |m| %>
      <div class="each_meeting clearfix">
        <div class="meeting_image">
          <%= image_tag m.book.image_url %>
        </div>
          <div class="book_details">
            <p><%= m.book.title %></p>
            <p><%= m.book.author %></p>
            <p><%= m.club.name %></p>
            <p><%= m.date_time.strftime('%A, %e %B %Y, %H.%M') %></p>
            <p><%= m.location %></p>

            <% if current_user.meeting_ids.exclude?(m.id) %>
              <p>You haven't rated this book yet</p>
            <% else %>
              <p>You rated this book <%= current_user.reviews.find_by(meeting_id: m.id).rating %>/10</p>
            <% end %>
          </div>
        <br>
        <br>
        </div>
    <% end %>
  <% end %>
  <br>

</div>

<!-- clubs section -->
 <h3>Your clubs:</h3>

<div class="clubs">

  <% current_user.clubs.each do |c| %>
  <div class="each_club">
    <p><%= link_to c.name, c %></p>
    <p><%= c.description %></p>
  </div>
  <% end %>
</div>

  <% if current_user.clubs.empty? %>
    <p>You aren't a member of any clubs. Click here to find one to join.</p>
  <% end %>
  <%= button_to 'See all clubs', clubs_path, method: :get %>


<!-- books section -->
<div class="my_books">
<h3>Your books:</h3>
<% if current_user.meetings.empty? %>
  <p>You haven't read any books</p>
<% else %>
  <% current_user.meetings.each do |m| %>

   <div class="each_meeting clearfix">
    <div class="meeting_image">
        <%= image_tag m.book.image_url %>
    </div>
    <div class="book_details">
    <br>
    <br>
        <%= m.book.title %><br>
        <%= m.book.author %><br>


        <p>You rated this book <%= current_user.reviews.find_by(meeting_id: m.id).rating %>/10</p>
    </div>
  </div>

  <% end %>
<% end %>
</div>

<div>
  <%= button_to 'Delete Account', current_user, method: :delete %>
</div>
