<h1><%= current_user.name %></h1>
<div>
  <%= button_to 'Logout', logout_path %>
</div>


<h3>Upcoming meetings:</h3>

<% if current_user.next_meetings.empty? %>
  <p>You have no upcoming book club meetings.</p>
<% else %>
  <div class="">
  <% current_user.next_meetings.each do |m| %>
    <p><%= m.book.title %></p>
    <p><%= m.book.author %></p>
    <p><%= m.club.name %></p>
    <p><%= m.date_time %></p>
    <p><%= m.location %></p>

    <% if current_user.meeting_ids.exclude?(m.id) %>
      <p>You haven't rated this book yet</p>
    <% else %>
      <p>You rated this book <%= current_user.reviews.find_by(meeting_id: m.id).rating %>/10</p>
    <% end %>
    <br>
    <br>
  </div>
  <% end %>
<% end %>
<br>

<h3>Your clubs:</h3>
<% current_user.clubs.each do |c| %>
  <p><%= link_to c.name, c %></p>
  <p><%= c.description %></p>
<% end %>
<% if current_user.clubs.empty? %>
  <p>You aren't a member of any clubs. Click here to find one to join.</p>
<% end %>
<%= button_to 'See all clubs', clubs_path, method: :get %>
<hr>

<h3>Your books:</h3>
<% if current_user.meetings.empty? %>
  <p>You haven't read any books</p>
<% else %>
  <% current_user.meetings.each do |m| %>
    <%= m.book.title %><br>
    <%= m.book.author %><br>
    <p>You rated this book <%= current_user.reviews.find_by(meeting_id: m.id).rating %>/10</p>
  <% end %>
<% end %>

<hr>
<div>
  <%= button_to 'Delete Account', current_user, method: :delete %>
</div>
