<!DOCTYPE html>
<html>
  <head>
    <title>Club Books</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.id %>
      <ul id="navbar">
        <li><%= link_to image_tag('home', height: 60), current_user, method: :get  %></li>
        <li><%= link_to image_tag('logout', height: 70), logout_path, method: :post %></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
